@import 'normalize.css';
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: rgb(19, 18, 18);
}
body::-webkit-scrollbar-thumb {
    
    background: #4685aa;
    height: 50px;
    border-radius: 10px;
}

/* Handle on hover */

  
  .card{
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    background: black;
    margin: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    box-shadow: 0 0px 5px white;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

input{
    box-sizing: border-box;
    padding: 4px;
    height: 28px;
}

.cardHover{
    width: 300px;
    padding: 4px;
    box-sizing: border-box;
    background: transparent;
    border-radius: 3px;
    transition: 0.2s background-color;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    transition:  0.2s;
    position: relative;
    
    
}
.cardHover:hover{
    
    box-shadow: 0px 0px 15px rgba(254, 255, 254, 0.918);    
    transform: scale(1.02);
    background: linear-gradient(90deg, rgb(144, 188, 209), rgb(221, 61, 181));
    animation: moveBackground 700ms infinite linear alternate ;
    background-size: 500%;
}

@keyframes moveBackground{
    0% {background-position-x: left;} 
    100%{background-position-x: right;} 
}

.img{
    height: 100%;
    max-height: 300px;
    width: 100%;
    background-color: rgba(254, 255, 254, 0.493);
    margin: 0;
    
}
.name{
    grid-column: span 2;
    padding: 2px;
    margin-top: 2px;
    position: absolute;
    background-color: black;
    opacity: .9;
    width: 100%;
    margin-top: -1px;
    transition: none;
}


.imgContainer{
    margin: 0;
    padding: 0;
    border: 0;
    height: 280px;
    grid-column: span 2;   
}

.genres{
    right: 0;
    left: 0;
    bottom: 0;
    position:absolute; 
    background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0,1));
    min-height: 46px;
    display: flex;
    gap: 5px;
    padding:  5px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;   
    transition: background-color .5s;
}

.on{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: red;
    top:4px;
    right: 3px;
    z-index: 100;
    cursor: pointer;
}
.off{
   display: none;
}

.genres:hover{
    background: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0,1));
}

@media screen and (max-width: 700px){
    .cardHover{
        width: 280px;
        padding: 3px;
    }
}

@media screen and (max-width: 400px){ 
    .card{
        font-size: 13px;
        width: 260px;
    }
}