.hover{
    width: 100%;
    gap: 10px;
    position: absolute;
    transform: translateY(40px);
    z-index: 10;
    padding: 0px 0px 6px 0px;
    /* border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; */
    background: linear-gradient(90deg,rgb(0, 72, 140), rgb(234, 239, 245));
    animation: moveBackground 1s infinite linear alternate ;
    background-size: 500%;
    box-sizing: border-box;
    transition: 1s;
    }


.hoverOff{
    width: 100%;
    gap: 10px;
    position: absolute;
    transform: translateY(-519.5px);
    z-index: 10;
    padding: 0px 0px 6px 0px;
    /* border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; */
    background: linear-gradient(90deg,rgb(0, 72, 140), rgb(234, 239, 245));
    animation: moveBackground 1s infinite linear alternate ;
    background-size: 500%;
    box-sizing: border-box;
    transition: 1s;

}

.option{
    color:white;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    background-color:black;
    border: none;
    padding: 3px;
}

.option:hover{
    background:rgba(0, 108, 170, 1);
    transform: scaleY(1.2);
    
}

 @keyframes moveBackground{
0% {background-position-x: left;} 
100%{background-position-x: right;} 
} 

.container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    /* border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; */
    text-align: left;
}

.containerOff{
    display: none;
}



.selectContainer{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items:center;
}

.sortText{
    height: 100%;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}