.home{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background-color: black;
    min-height: 95vh;
}

.loader{
    min-width:200px;
}
.loaderContainer{
    display: flex;
    width:100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}