.mainContainer{
    position: relative;
    z-index: 1;
   
}
.mainContainer::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../images/post.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(4px);
  }
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    min-height: 95vh;
    box-sizing: border-box;
    max-width: 100vw;
    position: relative;
    z-index: 10;

}

.notFoundContainer{
    width: 100%;
    height: 95vh;
    box-sizing: border-box;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;   
    position: relative;
}

.notFoundContainer h1{
    position: relative;
}

.notFoundContainer::before {
    content: "";
    position: absolute;
    margin-top: 3px;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../images/post.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(4px);
  }

.notFound{
    max-width:300px;
    position: relative;
}

.loader{
    min-width:200px;
}
.loaderContainer{
    display: flex;
    width:100%;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}