.nav{
    display: flex;
    padding: 5px;
    height: 50px;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
}

.navHover{
   padding-bottom: 5px;
   background: linear-gradient(90deg,rgb(0, 72, 140), rgb(132, 177, 219));
   animation: moveBackground 1s infinite linear alternate ;
    background-size: 500%;
}

@keyframes moveBackground{
     0% {background-position-x: left;} 
    100%{background-position-x: right;} 
}

.logo{
   background-color: transparent;
    width: 60px;
    height: 50px;
    margin-left: 10px;
}

.buttons{
    flex-basis: 30%;
    display: flex;
    font-size: 20px;
    gap: 10px;
    justify-content: space-between;
    
}

.button{
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: black;
    min-height: 100%;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
   
}
.buttonHover{
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background: transparent;
    transition: 0.2s;
}

.link{
    text-decoration: none;
    color: white;

}



.buttonHover:hover{
    background:  linear-gradient(90deg,rgb(0, 72, 140), rgb(255, 254, 216));;
    box-shadow: 0 0 10px white;
}


