.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.navHover{
    padding-bottom: 3px;
    background: linear-gradient(90deg,rgb(0, 72, 140), rgb(207, 219, 229));
    animation: moveBackground 1s infinite linear alternate ;
    background-size: 500%;
}

@keyframes moveBackground{
    0% {background-position-x: left;} 
    100%{background-position-x: right;} 
}

.sortFilters{
    display: flex;
    gap: 3px;
    margin: 0 1px;
    margin-right: 0;
    box-sizing: border-box;
    height: 3.1rem;
}

.logo{
   background-color: transparent;
    width: 60px;
    height: 50px;
    margin-left: 10px;
    transition: 0.4s;
    animation: rotateJ 4s infinite linear alternate;
    z-index: 10;
}

  /* @keyframes rotateJ{
    0% {transform: rotate(180deg);} 
    25%{transform: scale(10);}
    50% {transform: translate(1000%,1000%)}
    75%{transform: translate(000%,1000%)}
    75%{transform: scale(20);}
    100%{transform: scale(1);}
}    */

.logo:hover{
    transform:rotate(180deg);
}

.buttons{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.navButton{
    background-color: transparent;
    color: white;
    font-size: 1rem;
    height: 100%;
    text-align: center;
    transition: 0.2s;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.position{
    position: relative;
    width: 110px;
    height: 100%; 
}

.positionOn{
    width: 110px;
    height: 100%; 
    background: white;
    color: black;
}

.sortContainerFilter{
    text-align: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 100%;
    min-height: 100%;
    z-index: 20;
}

.sortContainerFilterOn{
    text-align: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    color: black;
    position: absolute;
    border-bottom:none;
    box-shadow: 0 0 10px white;
    width: 100%;
    min-height: 100%;
    z-index: 20;
    box-sizing: border-box;
    cursor: pointer;
}

.aOn{
    color:black;
    height: 100%;
    width: 100%;
}

.aOff{
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

.sortContainerFilter:hover{
    background-color: rgb(45, 106, 219);
    box-shadow: 0 0 15px white;
}

.sortContainer{
    text-align: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    min-height: 100%;
}
.sortText{
    cursor: pointer;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.margin{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,rgb(0, 72, 140), rgb(132, 177, 219));
    animation: moveBackground 1s infinite linear alternate ;
    background-size: 500%;
    position: relative;
    z-index: 50;
}

.marginQuery{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    padding: 0 2vw;
    position: relative;
    z-index: 50;
}

@media screen and (max-width: 1092px){
    .nav{
        flex-wrap: wrap;
        justify-content: center;
    }

    .sortFilters{
        justify-content: center;
        position: relative;
        height: 40px; 
    }


    /* .sortFilters:before{
        content: "";
       width: 130px;
       left: -2px;
       margin: 0 2px;
       position: relative;
        background-color: black;
    }

     */

    .marginQuery{
        margin-bottom: 3px;
        justify-content: center;
    }
    .margin{
        padding: 0;
    }

    .positionRelleno{
        width: fit-content;
        background-color: black;
        height: 100%;
        width: 300px;
    }
    .positionRellenoR, .positionRellenoL{
        background-color: black;
        height: 100%;
        
        background-color: black;
    }
}







