.main{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 1rem;

}

.form{    
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    justify-items:center ;
    max-width: 800px;
    border-left: 2px solid rgba(71, 136, 216, 0.7);
    border-bottom: 3px solid rgba(71, 136, 216, 0.7);
    box-shadow: 5px 5px 10px white;
}

/* .item{
    grid-column: span 2;
} */

.itemDescription{
    grid-column: span 2;  
    width: 80%;
}

.itemDescription textArea{
    width: 100%;
    grid-column: span 2;
    height: 5rem;
    overflow-y: scroll;
    outline: none;
}

.label{
    color: white;
    display: block;
    margin-bottom: 5px;
}

.input{
    outline: none;
    border-radius: 3px;
    border: 3px solid green;
}

.inputOptional{
    outline: none;
    border-radius: 3px;
    border: 3px solid transparent;
}

.error{
    border-radius: 3px;
    border: 3px solid transparent;
}

.check{
    color: white;
}

.itemCheck{
   padding: 5px;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.checkLabel{
    color: white;
}

.checksContainer{
    grid-column: span 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
}

.submit{
    grid-column: span 2;
    background-color: transparent;
    max-width: 130px;
    color: white;
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer; 
    border-radius: 5px; 
    border: 1px solid rgba(0, 100, 150, 0.8);; 
}

.submit:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(254, 255, 254, 0.918); 
}
.h2Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.errorImg{
    display: none;
    justify-self: left;
}
.ok{
    display: inline;
    width: 1rem;
    height: 1rem;
}
h2{
    color:white
}