.main{
    display: flex;
    gap: 1rem;
}

.select{
    color: black;
    height: 30px;
}

.selectContainer{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items:center ;
}

.form{
    display: flex;
    max-width: 270px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input{
    border: 3px solid white;
    border-radius: 5px;
}

.input:focus{
    outline: none;
    border: 3px solid rgba(0, 160, 100, 0,4);
}